<header>
  <h1>Loveletter</h1>
</header>
<div ng-include="'components/navbar/navbar.html'"></div>

<h4>
  hi {{username}}
</h4>
<main class = "ui page grid">

  <div class='row'>
    <div class='center aligned starter column'>
      <form class="ui form" ng-submit='addMessage()'>
        <div class="field">
          <input type="text" placeholder='I love that you...' ng-model = 'message'>
          <input type='submit' class = 'ui button'>
        </div>
      </form>
    </div>
  </div>

  <div class='row'>
    <div class = 'content left aligned starter column'>
      <div class="ui divided list message">
        <div class="item letterMessage" ng-repeat="message in messages">
          <div class='icons row'>
            <i class='remove icon row' ng-click='deleteMessage(message)'></i>
          </div>
          <div class="content row">
            <p class="header">{{$index+1}}. {{message.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="footer">
  loveletter mvp by <a>asakurasol</a>
</footer>
