<header>
  <h1>Loveletter</h1>
</header>
<div class = 'content' ng-include="'components/navbar/navbar.html'"></div>

<main class = "ui page grid content">
  <h4>
    hi {{username}}
  </h4>

  <div class='row'>
    <div class='center aligned starter column'>
      <form class="ui form" ng-submit='addMessage()'>
        <div class="field">
          <input type="text" placeholder='I love that you...' ng-model = 'message'>

          <div class="ui button dropdown simple">
            <input type="hidden" name="templates">
            <div class="text">templates</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="0" ng-click='setTemplate("I hate you")'>I hate you</div>
              <div class="item" data-value="1" ng-click='setTemplate("I love that one time when")'>I love that one time when...</div>
              <div class="item" data-value="2" ng-click='setTemplate("I love that you")'>I love that you...</div>
              <div class="item" data-value="3" ng-click='setTemplate("I love that we both enjoy")'>I love that we both enjoy...</div>
            </div>
          </div>
          <input type='submit' class = 'ui button primary'>


        </div>
      </form>
    </div>
  </div>

  <div class='row'>
    <div class = 'left aligned starter column'>
      <div class="ui divided list message">
        <div class="item letterMessage fx-zoom-normal" ng-repeat="message in messages">
          <div class='icons row'>
            <i class='remove icon row' ng-click='deleteMessage(message)'></i>
          </div>
          <div class="content row">
            <p class="header">{{$index+1}}. {{message.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="footer">
  loveletter mvp by <a>asakurasol</a>
</footer>
